/* STYLE.CSS - the stylesheet yeah */

/* Page colors */

:root { /* epic video https://www.youtube.com/watch?v=_gKEUYarehE  */
  --base-color: white;
  --base-secondary: #f1f3f4;
  --text-color: #000;
  --text-secondary: #252525;
  --primary-color: #aaaaaa;
  --primary-secondary: #fff1cf;
  --primary-other: #7a788b;
  --accent-color: #ff9500;
  --accent-secondary: #ffd801;
  --banner: rgba(210,210,210,0.5);
}
.darkmode {
  --base-color: #101010;
  --base-secondary: #090b14;
  --text-color: #fff;
  --text-secondary: #e0e0e0;
  --primary-color: #403c7f;
  --primary-secondary: #063348;
  --primary-other: #736fad;
  --accent-color: #ff6200;
  --accent-secondary: #ff2701;
  --banner: rgba(25,25,25,0.5);
}

/* General stuff */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Inter, Arial, sans-serif; /* WILL GET A BETTER FONT LATER I SWEAR */
  font-style: normal;
}
body {
  min-height: 100vh;
  background-color: var(--base-color);
  color: var(--text-color);
  position: relative;
  overflow-x: hidden;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--secondary-text);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
.content {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
}
.content-text {
  flex: 1;
  line-height: 1.8;
  text-align: left;
  max-width: 700px;
}
.content input {
  max-width: 100%;
  width: 600px;
  height: auto;
}

/* responsive */
@media (max-width: 1200px) {
  .content {
      flex-direction: column;
      text-align: center;
  }
  .content-text {
    text-align: center;
    margin: 0;
  }
  sectionmiddle {
    align-items: center;
  }
  .middlesec1, .middlesec2, .middlesec3 {
    align-self: center;
  }
}

/* Header */
header {
  background-color: transparent;
  color: var(--primary-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 5px;
  transition: background-color 0.3s ease;
  z-index: 1000;
}
header img { 
  height: 50px;
  width: auto;
  padding-left: 10px;
}
header h2 {
  padding-left: 10px;
}

.scrolled {
  background-color: var(--banner);
  backdrop-filter: blur(10px);
}

#bgsvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 40vw;
  height: auto;
  z-index: -1;
}

topmain, sectionmain, onboard {
  padding: 40px min(50px, 7%);
}

topmain {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  padding: 150px 20px;
  background-image: url('./img/orange.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 40vw auto;
}
topmain h1 {
  font-size: 68px;
  background: linear-gradient(to right, var(--accent-color), var(--accent-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

sectiontop {
  background-color: var(--base-secondary);
  display: flex;
  justify-content: center;
  padding: 40px 10vw;
}

sectionmiddle {
  background-color: var(--base-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 10vw;
}

.middlesec1, .middlesec2, .middlesec3 {
  margin-top: 50px;
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin-bottom: 20px;
}

.middlesec1 { align-self: flex-start; }
.middlesec2 { align-self: flex-end; }
.middlesec3 { align-self: flex-start; }

sectionmiddle img {
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
}

sectionbottom {
  background-color: var(--base-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
sectionbottom img {
  width: 100%;
  max-width: 50vw;
  border-radius: 8px;
}

footer {
  background-color: var(--header-color);
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer-right a {
  font-weight: bold;
  padding: 0 10px;
}

/* Multi text animation on home page (https://www.youtube.com/watch?v=z6j7lXN3_eI) */
.wrapper .content ol {
  color: var(--text-color);
  --height: 4rem;
  height: var(--height);
  line-height: var(--height);
  overflow: hidden;
  margin: 10px;
}

.wrapper .content ol li {
  animation: slide-up 18s cubic-bezier(.83,0,.17,1) infinite;
}

@keyframes slide-up {
  0%, 10% {
    transform: translateY(0%);
  }
  15%, 25% {
    transform: translateY(-100%);
  }
  30%, 40% {
    transform: translateY(-200%);
  }
  45%, 55% {
    transform: translateY(-300%);
  }
  60%, 70% {
    transform: translateY(-400%);
  }
  75%, 85% {
    transform: translateY(-500%);
  }
}

.wrapper .content ol li span {
  font-weight: 800;
  background: linear-gradient(to right, var(--accent-color), var(--accent-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

/* Button styles */
button {
  background: none;
  color: var(--text-color);
  border: none;
  border-radius: 50px;
  margin: 5px;
  cursor: pointer;
  border: none;
  transition: ease-in-out 0.2s;
}

.buttonreg{
  background: linear-gradient(to right, var(--accent-color), var(--accent-secondary));
  padding: 20px 50px;
  font-size: 18px;
  font-weight: bold;
}
.buttonreg:hover {
  background: linear-gradient(140deg, var(--accent-color), var(--accent-secondary));
  color: var(--base-color);
  padding: 20px 55px;
}

.buttonsec{
  background: var(--primary-color);
  padding: 15px 30px;
}
.buttonsec:hover {
  background: var(--primary-other);
  color: var(--base-color);
  padding: 15px 35px;
}

/* Dark mode/light mode switch */

#themeswitch{
  height: 50px;
  width: 50px;
  padding: 0px;
  border: 0px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: auto;
}
#themeswitch svg{
  height: 20px;
  width: auto;
  fill: var(--text-color)
}
#themeswitch svg:last-child{
  display:none;
}
.darkmode #themeswitch svg:first-child{
  display:none;
}
.darkmode #themeswitch svg:last-child{
  display:block;
}